#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.container{
  max-width:768px;
  border: 2px solid black;
  text-align: center;
  padding: 0.5em;
  margin-left:auto;
  margin-right: auto;
}
ul{
  text-align: left;
}